@import "tailwindcss";

@layer utilities {
  @keyframes loader-sweep {
    to {
      transform: translateX(200%);
    }
  }
  
  @keyframes shimmer {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
  }
}

